extends template.pug
mixin content
    div#content
        h2 Administration Page
        p This is only accessible by a small amount of people and the changes you make impact the entire site.
        p Please be cautious, and thank you for being a trusted administrator!