extends ../../template.pug
mixin content
    div#content.p-3
        h1.h2 Add a compose script to crater
        hr
        form(action="javascript:uploadOrFail()")#composeInfo
            div.d-flex.flex-wrap.justify-content-between.w-100.mb-0#form-div
                div.mb-0
                    label(for="title").form-label Title
                    input(type="text")#title.form-control
                div.mb-0
                    label(for="image").form-label Primary Image
                    input(type="text" list="image-list")#image.form-control
                    p.text-muted.mb-0 Must match search result
                    span(style="overflow:hidden")#image-list-span
                div.mb-0
                    label(for="tags").form-label Tags
                    input(type="text" list="tags-list")#tags.form-control
                    p.text-muted.mb-0 Comma separated list
                    span(style="overflow:hidden")#tags-list-span
                div.mb-0
                    label(for="public").form-label.px-2 Public
                    input(type="checkbox" checked)#public.form-control.form-check-input.mx-auto
            div#preview-div.invisible
                h3#title-preview
                span.d-inline-flex
                    img#image-image-preview(width="48")
                    h2.h4#image-preview
                h4 Tags:
                span#tags-preview
            div.mb-3
                label(for="yaml").form-label YAML
                div(style="height:50vh;")#yaml.w-100.border.border-primary
            div.d-flex.flex-wrap.align-items-center.justify-content-left.justify-content.lg-start#form-buttons
                button(type="submit").btn.btn-warning Submit
                button(type="button" onclick="setPreview()").btn.btn-secondary.mx-2 Preview
                p#validation.text-danger &nbsp;
        div(style="height:0;")#preview-buttons.invisible
            button(onclick="setEdit()").btn.btn-warning Edit

    script.
        const minioPublic = "#{minioPublic}";
    script(src="/script/lib/ace/ace.js")
    script(src="/script/scripts/compose/new.js")