extends ../../template.pug
mixin content
    div#content 
        h1.h3 #{compose.title}
        h2.h4 Image: #{compose.imageName}
        h3.h4 tags:
        ul
            each tag in compose.tags
                li= tag
        div(style="height:50vh;")#yaml.border.border-primary.w-75

    script(src="/script/lib/ace/ace.js")
    script.
        var editor = ace.edit("yaml");
            editor.session.setMode("ace/mode/yaml");
            editor.setOptions({
                readOnly: true,
                highlightActiveLine: false,
            });
        let yamlContent = `#{compose.yaml}`
        yamlContent = yamlContent
            .replace(/&lt;/g, "<")
            .replace(/&gt;/g, ">");
        editor.setValue(yamlContent)
        editor.moveCursorTo(0,0);
