extends ../template.pug
mixin content
    div#content
        if images
            h1.h2 Image Results
            table.table.table-hover
                thead
                    tr
                        th(scope="col") Image
                        th(scope="col")
                            span.float-end Scripts Using
                tbody
                    each image in images
                        tr(onclick="document.location='/images/view/" + image.urlName + "'")
                            th(scope="row").d-flex
                                img(width="40" src=minioPublic + "/image/" + image.name + ".png")
                                p &emsp; #{image.name}
                            td
                                p.float-end= image.scriptsUsing
        else
            hr
            h2 No Results
            p.text Check your search query or&nbsp;
                a(href="/images/new") add the image to Crater!
