extends ../template.pug
mixin content
    div#content
        h1 #{username}
        img(src="http://" + minioPublic + "/user/" + id + ".png").rounded.border.border-4
        p Member since #{createdAt}