extends ../template.pug
mixin content 
    div#content
        div#preamble.w-50
            h2 Containers made easy with crater.
            p
                | The crowd-sourced docker-compose for containerization software such as 
                a(href="https://www.docker.com/") docker
                | ,&nbsp;
                a(href="https://podman.io/") podman
                | ,
                | and even support for 
                a(href="https://kubernetes.io/") kubernetes
                | . Sort by architecture, see whats popular, or browse by the latest posts to help find hidden gems and bubble them to the top here.
        div#script-search.w-50.ms-auto
            h2.text-center Find what you're looking for...
            div#pages.d-flex.flex-wrap.justify-content-evenly
                a.btn.btn-info.btn-lg.my-4(href="/scripts/compose") Docker-Compose
                a.btn.btn-info.btn-lg.my-4(href="/scripts/manifest") Kubernetes / Helm
        div(style="height:50vh;")#yaml.border.border-primary.w-50

    script(src="/script/lib/ace/ace.js")
    script(src="/script/scripts/index.js")
