extends ../../template.pug
mixin content 
    include ../../sign/modal.pug
    div.d-flex.flex-wrap.my-5.justify-content-between
        h1.h2 Kubernetes/Helm Scripts
        div.text-end
            a(href='/scripts/manifest/new').btn.btn-info.mx-3 New
            if userIDToken
                a(href='/scripts/manifest/your-scripts').btn.btn-warning Your Scripts
            else
                button(data-bs-toggle="modal" data-bs-target="#overlay").btn.btn-warning Your Scripts
    table.table.table-striped.table-hover
        thead
            tr
                th(scope="col") Todo...
