extends ../template.pug
mixin content 
    div#content
        #{page}
        h1 Crater
        h4 The container script sharing platform supporting docker-compose, kubernetes, and helm.
        p Search by image or check out the scripts page!
        object( type="image/svg+xml" data="/img/crane-loading-animation.svg")