
extends ../../template.pug
mixin content 
    div#content.p-3
        h2 Code at a Glance
        div(style="height:50vh;")#yaml.border.border-primary.w-50
    script(src="/script/lib/ace/ace.js")
    script(src="/script/about/features/glance.js")