
extends ../../template.pug
mixin content 
    div#content.p-3
        h1.pb-1 User Submitted Markup
        p Crater is a web 2.0 project that provides tooling to support the sharing of all things container related. All of the yaml files, forum posts, and beneficial content on this site is provided by the community for the community.
        h1.pb-1 Who Maintains the Content?
        p The content of this site is maintained by the developers, the moderators, and most importantly the community. If you see innapropriate or intentionally incorrect information please report it! We have a system in place to try to promote and uphold high quality content on crater.sh.