extends ../template.pug
mixin content 
	div#content.p-3
		h1.pb-5 The Team
			h3.px-3 Jared McDonald
				a(href="https://github.com/jamcdon/" target="_blank").link-secondary.text-decoration-none
					img(src="/img/github.svg" width="28px" alt="Github").mx-2
				a(href="https://gitlab.com/jaredamcdon" target="_blank").link-secondary.text-decoration-none
					img(src="/img/gitlab.svg" width="28px" alt="Gitlab").mx-1
				a(href="https://jaredmcdon.com/" target="_blank").link-secondary.text-decoration-none
					img(src="/img/website-generic.svg" width="28px" alt="Portfolio").mx-2
			ul.list-unstyled.text-small.ms-3
				li Project Maintainer
				li Lead Developer
				li Webmaster
			hr
			h3.px-3 Open Source Contributors
				a(href="https://github.com/jamcdon/dockerd" target="_blank").link-secondary.text-decoration-none
					img(src="/img/github.svg" width="28px" alt="Github").mx-2
			ul.list-unstyled.text-small.ms-3
				li Code Reviewer
				li Bug Reporter
				li Developer